API_KEY=YOUR-API-KEY
ENDPOINT= YOUR-ENDPOINT-POINT
MODEL_ID= "openai/gpt-4o"

LLAMAPARSE_API_KEY=YOUR-API-KEY

OLLAMA_ENDPOINT= "http://localhost:11434"
OLLAMA_EMBEDDING_MODEL= "qwen3-embedding:8b"

RERANKER_MODEL_NAME= "BAAI/bge-reranker-v2-m3"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR-API-KEY
LANGSMITH_PROJECT=Your-Project-Name